#btnPlus{
    background-color: rgba(49, 194, 49, 0.861);
    cursor : pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width : 60px;
    border-radius: 5px;
}
#btnPlus:hover{
    background-color: rgba(96, 177, 75, 0.746);
    border: 1px solid white;
}
#btnMinus{
    background-color: rgba(212, 191, 54, 0.844);
    cursor : pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width : 60px;
    border-radius: 5px;
}
#btnMinus:hover{
    background-color: rgba(217, 201, 95, 0.609);
    border: 1px solid white; 
}