#play{
    background-color: green;
    cursor : pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width : 60px;
    border-radius: 5px;
}
#play:hover{
    background-color: rgba(102, 227, 71, 0.844);
    border: 1px solid white;
}
#pause{
    background-color: red;
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width : 60px;
    border-radius: 5px;
}
#pause:hover{
    background-color: rgba(202, 47, 42, 0.844);
    border: 1px solid white;
}
#reset{
    background-color: yellow;
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width : 60px;
    border-radius: 5px;
}
#reset:hover{
    background-color: rgba(212, 191, 54, 0.844);
    border: 1px solid white; 
}